body h2{
	
	font-family: 'Ubuntu', sans-serif;
}

body h1{
	
	font-family: 'Ubuntu', sans-serif;
	text-decoration: bold;
}

body h3{
	
	font-family: 'Ubuntu', sans-serif;
}

body p {
	font-family: 'Montserrat', sans-serif;
}

body li {
	font-family: 'Montserrat', sans-serif;
}

body {
	text-align: center;
}

hr {
	margin-bottom: 100px
}

.middle-container div{
	margin: 0px auto 20px auto;
}

.profile {
	padding-top: 200px;
	text-align: center;
	padding-bottom: 30px;
}

body .profile {
	width: 20%
	margin: 0 auto 0 auto;
}

body .skills h2 {
	text-align: center;
}

body .skills2 h2 {
	text-align: center;
}

body .iconz {
	color: #c4ad91;
}

body .skills .html .fa-react:hover {
	color: #749cdb;
	cursor: crosshair;
}

body .skills .html3 .fa-php:hover {
	color: #687ea1;
	cursor: crosshair;
}

body .skills .html3 .fa-python:hover {
	color: #687ea1;
	cursor: crosshair;
}

body .skills .html3 .fa-java:hover {
	color: #687ea1;
	cursor: crosshair;
}

body .skills .html .fa-database:hover {
	color: #bd5576;
	cursor: crosshair;
}

body .skills .html3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 150px;
}

body .profile h2 {
	font-size: 4.5rem;
	margin-bottom: 10px;
	text-decoration: none;
}

body .profile p {
	font-size: 1rem;
	max-width: 500px;
	margin: 0 auto 50px auto;
}

body .profile img {
	max-width: 400px;
}

body .skills .html img{
	width: 50px !important;
	text-align: center;
}

body .skills .skill-box {
	text-align: center;
	padding: 5%;
}

body .skills2 .skill-row {
	text-align:center;	

}

body .skills {
	background-color: #fffcf5;
}


.bottom-container {
	margin-top: 30px;
	float: left;
}

body .cardgallery {
	display: flex;
	flex-direction: row;
}

.research div {
	text-align: center;
}

ol.listofresearch {
	display: inline-block;
	text-align: left;
	list-style-type: square;

}

body .skills2 .card-img-top img {
	max-width: 185px;
	height: 100%;
} 

body .skill-row .paper2 {
	background-color: #ebebeb !important;
}


body .jumbotron .giphy{
	display: grid;
	grid-template-columns: 5fr 2fr 5fr;
	text-align: center;
}

body .jumbotron .giphy .children {
	display: inline-block;
}

body .jumbotron .giphy .children .box1{
	padding-left: 20%;
}


body .jumbotron .giphy .children .box2{
	padding-right: 20%;
}


body .jumbotron .giphy img {
    height: 97px;
}

body .giphy .vl {
	border-right:1px 
	solid #000;
	height:100px;
}

body .linkedin {
	text-align: center;
	display: flex;
	flex-direction: row;
}

body .linkedin img {
	width: 20px;	
	display: inline;
	margin-bottom: 3px;
}0

body .linkedin button {
	display: block;
}

body .gitty div {
	display: inline;
}

body .gitty img:last-child {
  display: none;  
}
body .gitty:hover img:last-child {
  display: inline;  
}
body .gitty:hover img:first-child {
  display: none;  
}

body .gitty button:hover img:last-child {
  display: inline;  
}
body .gitty button:hover img:first-child {
  display: none;  
}


.navbar-brand {
	font-family: 'Ubuntu', sans-serif !important; 
	text-decoration: bold !important;
}

.carousel-inner img {
	display: absolute;
	max-height: 600px; /* max height */
	max-width: 50%; /* take half of container */
	right: auto; /* auto to center it */
	left: auto;
	left: 0; /* shift to far left */
	margin-left: 10%;
	object-fit: contain; /* makes the thing resize proportionately */


}

.carousel-caption.d-md-block {
	display: absolute;
	left: auto;
    right: auto;
    width: 50%;
    bottom:0;
	right:0;
	padding-bottom: 25%;
}

/* bootstrap 5 navbar lousy */
body #connect {
	padding-top: 30px;
}

body #research {
	padding-top: 30px;
}


body #projects {
	padding-top: 40px;
}

body #carouselExampleDark {
	padding-top: 30px;
}

.skills hr{
	margin-bottom: 50px;
}