body h2{
	
	font-family: 'Ubuntu', sans-serif;
	text-decoration: underline;
}

body h1{
	
	font-family: 'Ubuntu', sans-serif;
	text-decoration: bold;
}

body h3{
	
	font-family: 'Ubuntu', sans-serif;
}

body p {
	font-family: 'Montserrat', sans-serif;
}

body li {
	font-family: 'Montserrat', sans-serif;
}

body {
	text-align: center;
}

hr {
	margin-bottom: 100px
}

.middle-container div{
	margin: 0px auto 20px auto;
}

.profile {
	padding-top: 200px;
	text-align: center;
}

body .profile {
	width: 20%
	margin: 0 auto 0 auto;
}

body .skills h2 {
	text-align: center;
}

body .profile h2 {
	font-size: 4.5rem;
	margin-bottom: 10px;
	text-decoration: none;
}

body .profile p {
	font-size: 1rem;
	max-width: 500px;
	margin: 0 auto 50px auto;
}

body .profile img {
	max-width: 400px;
}

body .skill-row .html img{
	width: 50px !important;
	text-align: center;
}

body .skills .skill-row {
	text-align:center;	
}


.bottom-container {
	margin-top: 30px;
	float: left;
}

body .cardgallery {
	display: flex;
	flex-direction: row;
}

.research div {
	text-align: center;
}

ol.listofresearch {
	display: inline-block;
	text-align: left;
	list-style-type: square;

}

body .skills .card-img-top img {
	max-width: 185px;
	height: 100%;
} 

body .skill-row .paper2 {
	background-color: #ebebeb !important;
}


body .jumbotron .giphy{
	display: flex;
	flex-direction: row;
	min-width: 1510px;
	text-align: center;
}

body .jumbotron .giphy-two{
	display: flex;
	flex-direction: row;
}

body .jumbotron .giphy img {
    margin-right: 164px;
    height: 97px;
    margin-top: 19px;
}

body .giphy .vl {
	border-right:1px 
	solid #000;
	height:100px;
}

body .linkedin {
	text-align: center;
	display: flex;
	flex-direction: row;
}

body .linkedin img {
	width: 20px;	
	display: inline;
	margin-bottom: 3px;
}0

body .linkedin button {
	display: block;
}

body .gitty div {
	display: inline;
}

body .gitty img:last-child {
  display: none;  
}
body .gitty:hover img:last-child {
  display: inline;  
}
body .gitty:hover img:first-child {
  display: none;  
}

body .gitty button:hover img:last-child {
  display: inline;  
}
body .gitty button:hover img:first-child {
  display: none;  
}
