body h2{
	
	font-family: 'Ubuntu', sans-serif;
	text-decoration: underline;
}

body h3{
	
	font-family: 'Ubuntu', sans-serif;
}

body p {
	font-family: 'Montserrat', sans-serif;
}

body li {
	font-family: 'Montserrat', sans-serif;
}

body {
	text-align: center;
}

hr {
	margin-bottom: 100px
}

.middle-container div{
	margin: 0px auto 20px auto;
}

.profile {
	padding-top: 200px;
}

body .profile {
	width: 20%
	margin: 0 auto 0 auto;
}

body .profile h2 {
	font-size: 4.5rem;
	margin-bottom: 10px;
	text-decoration: none;
}

body .profile p {
	font-size: 1rem;
	max-width: 500px;
	margin: 0 auto 50px auto;
}

body .profile img {
	max-width: 400px;
}

body .skills img {
	max-width: 50px;
}

body .skills .skill-row {
	display: block;	
}

body .contact-me img {
	max-width: 150px;
}

.bottom-container {
	margin-top: 30px;
	float: left;
}

.contact-me a {
	margin-top: 20px;
}

.research div {
	text-align: center;
}

ol.listofresearch {
	display: inline-block;
	text-align: left;
	list-style-type: square;

}

